<div id="<%= dom_id real_estate %>">
  <p>
    <strong>Title:</strong>
    <%= real_estate.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= real_estate.price %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= real_estate.area %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= real_estate.type %>
  </p>

  <p>
    <strong>Poster url:</strong>
    <%= real_estate.poster_url %>
  </p>

</div>
